# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.firebaserc

/topic_analysis_service/config.json
/ml_backend/__pycache__/
node_modules/
package-lock.json
venv/
yarn.lock
/ml_backend/stopwords-iso.json
/docker/postgres/
.DS_Store
/docker/mongodb/
/backend/src/main/generated/
