# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.firebaserc

/backend/config.json
backend/__pycache__/
frontend/src/views/
node_modules/
package-lock.json
venv/
yarn.lock
